<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container" wfd-id="31">
    <a class="navbar-brand" href="#">Cookbook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation" wfd-id="102">
      <span class="navbar-toggler-icon" wfd-id="41"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample07" wfd-id="32">
      <ul class="navbar-nav mr-auto" wfd-id="34">
        <li class="nav-item active" wfd-id="39">
          <a class="nav-link" href="#">Recipes
            <span class="sr-only" wfd-id="40">(current)</span>
          </a>
        </li>
        <li class="nav-item" wfd-id="38">
          <a class="nav-link" href="#">Shopping List</a>
        </li>
        <li class="nav-item dropdown" wfd-id="35">
          <a class="nav-link dropdown-toggle" href="#" id="account" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Account</a>
          <div class="dropdown-menu" aria-labelledby="dropdown07" wfd-id="36">
            <a class="dropdown-item" href="#">Publish</a>
            <a class="dropdown-item" href="#">Save</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-md-0" wfd-id="33">
        <input class="form-control" type="text" placeholder="Search" aria-label="Search" kl_vkbd_parsed="true" wfd-id="92">
      </form>
    </div>
  </div>
</nav>
